@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

* { 
   margin: 0; 
   padding: 0; 
   box-sizing: border-box; 
   font-family: 'Poppins', sans-serif;  
   font-size: 15px; 
}

i { 
    color: #191970; 
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none; 
    display: flex;
}

li { 
    margin-right: 10px; 
}

img { 
    object-fit: cover; 
    object-position: top; 
    border-radius: 8px; 
}

shop-logo { 
    border: none; 
}

body { 
    width: 100%; 
}

.first-page {
    background-color: #eaf4fc;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px; 

    background-color: #eaf4fc;
    height: 5vh; 

    font-weight: 900; 
}

#nav-links { 
    width: 30%;  
    gap: 25px; 

    display: flex; 
    justify-content: center;
    align-items: center; 
}

.link { 
    transition: 0.2s;
}

.link:hover { 
    transform: translateY(-5%);
}

.link a { 
    position: relative; 
    padding-bottom: 2px;
    color: #000;
}

.link a::after { 
    content: ""; 
    position: absolute; 

    height: 2px; 
    width: 0; 
    bottom: 0; 
    left: 0; 

    background-color: #191970;
    transition: all 0.2s ease;
}

.link a:hover::after { 
    width: 80%; 
}

/* https://uiverse.io/satyamchaudharydev/quick-chicken-50 */
.logo {
    margin-right: auto; 
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
.logo {
    --border-right: 4px;
    --text-stroke-color: #000;
    --animation-color: #191970;
    --fs-size: 2em;
    letter-spacing: 2px;
    text-decoration: none;

    font-size: 15px;
    font-weight: 200; 
    font-family: inherit;

    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px var(--text-stroke-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

.logo:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

#hero { 
    display: flex; 
    justify-content: center; 
    margin: auto; 

    height: 95vh; 
    width: 96vw; 

    border-radius: 15px 15px 0 0; 
    background-color: #191970; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

#lion {   
    margin-left: 20px; 
    align-self:last baseline;
}

.shop-prompt { 
    display: flex; 
    flex-direction: column;
    justify-content: space-around;

    font-weight: 900; 
    color: #ecf3f9;

    width: 50%;  
    height: 100%; 
    margin: 10px 0px 100px 50px; 
}

.article {
    margin-top: 35px; 
}

.shop-prompt h6 { 
    color: #ffdd88;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);
    
    margin: 0px 0px -25px 3px; 
}

.shop-prompt h1 { 
    font-size: 70px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.shop-prompt h1 span { 
    font-size: 70px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #ecf3f9;
}

.shop-prompt p { 
    font-weight: 500; 
    font-size: 10px; 
    color: #ffdd88;

    margin: -20px 0px 0px 122px; 
}

/* https://uiverse.io/barisdogansutcu/black-duck-67 */
.shop-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 300px; 
    height: 50px; 

    font-family: inherit;
    font-size: 13px;
    font-weight: 700;

    text-transform: uppercase;
    letter-spacing: 0.4px;

    color: #7e97b8;
    background-color: #ecf3f9;

    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 10px;

    margin: 12px 0px 0px 4px; 
    padding: 16px 24px 16px 28px;
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.2s;
    box-shadow: -4px -2px 16px 0px #ecf3f9, 4px 2px 16px 0px rgb(26 26 121 / 48%);
}
   
.shop-button:hover {
    color: #516d91;
    background-color: #E5EDF5;
    box-shadow: -2px -1px 8px 0px #ecf3f9, 2px 1px 8px 0px rgb(26 26 121 / 48%);
}

.shop-button:active {
    box-shadow: none;
}

.dotted-line { 
    display: flex; 
    justify-content: flex-end;
    align-items: flex-end; 
}

.dotted-line img {
    width: 75%; 
    height: auto; 

    margin-right: 40px; 
    
    filter: invert(100%);
}
  

#shop { 
    padding: 40px; 
    display: flex; 
    justify-content: center; 

    display: flex; 
    height: 82vh; 

    background-color: #eaf4fc;
}

.card {
    margin: 20px; 

    width: 190px;
    height: 254px;
    border-radius: 10px;

    background: #1a1a79;
    box-shadow: 1px 5px 60px 0px #100a886b;
}
   
.card .card-border-top {
    width: 60%;
    height: 3%;

    background: #eaf4fc;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
}

.card span {
    font-weight: 600;
    color: #eaf4fc;
    text-align: center;
    display: block;
    font-size: 12px;

    margin-top: 10px;
}

.card .product {
    font-weight: 400;
    color: #eaf4fc;
    display: block;
    text-align: center;
    font-size: 8px;
    font-style: italic; 
}

.card .img {
    width: 120px;
    height: 120px;
    background: #eaf4fc;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
  }

.card .img img {
    width: 100%; 
    height: auto; 
}

.card button {
    padding: 8px 25px;
    display: block;
    margin: auto;
    margin-top: 10px; 
    border-radius: 8px;
    border: none;
    background: #eaf4fc;
    color: #1a1a79;
    font-weight: 600;
    
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.2s;
    box-shadow: -4px -2px 16px 0px #ecf3f9, 4px 2px 16px 0px rgb(26 26 121 / 48%);
}

.card button:hover {
    cursor: pointer; 
    background: #eaf4fc;
    box-shadow: -2px -1px 8px 0px #ecf3f9, 2px 1px 8px 0px rgb(26 26 121 / 48%);
}

.card button:active {
    box-shadow: none;
}

#footer { 
    height: 10vh; 
    background-color: #1a1a79;
}